{% extends 'blog/base.html' %} {% block content %} {% for posts in posts %}


{% load static %}
<article class="media content-section">
  <img
    class="rounded-cirlce article-img"
    src="{{ posts.author.profile.image.url }}"
    alt=""
  />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ posts.author }}</a>
      <small class="text-muted">{{ posts.date_posted }}</small>
    </div>

    <h2>
      <a class="article-title" href="{% url 'blog-detail' posts.id %}"
        >{{ posts.title }}</a
      >
    </h2>
    <p class="article-content">{{ posts.content }}</p>
    <h5>GET LOCATION CORDINATES</h5>

    <button onclick="getPostion()">Get Location</button>
    <p id="loc"></p>
  </div>
  <br />
</article>

{% endfor %} {% endblock content %}

<style>
  * {
    background: url("https://img.freepik.com/free-photo/businessman-was-negotiating-agreement-which-dollar-was-accepted-as-bribe-corruption-anti-bribery-corruption-concepts_11304-2448.jpg?w=900");
    width: 100vw;
    height: 100vh;
  }
</style>
